<h1>INFORMAZIONI SUL TRATTAMENTO DEI DATI PERSONALI</h1>
<h3>Ai sensi dell’articolo 13 del Regolamento (UE) 2016/679 del Parlamento europeo e del Consiglio del 27 aprile 2016 (“GDPR”) in materia di protezione dei dati personali.</h3>


La presente informativa riguarda il trattamento dei dati personali effettuati a mezzo dell'applicazione web Nice Time in Cagliari  non anche agli altri contenuti consultabili dall’utente tramite link o contenuti esterni richiamati dall’applicazione, ed è destinata a tutti gli utenti dell’applicazione. Ulteriori informazioni circa il trattamento dei dati personali possono essere contenute in sezioni distinte della Applicazione.
Il servizio è in fase beta, e quindi potrà essere soggetto a cambiamenti, modificazioni e interruzione da parte del CRS4. La sperimentazione ed il servizio termineranno il 30 gennaio 2019.

<h2>Titolare del trattamento</h2>
Il titolare del trattamento dei dati è CRS4 S.r.l. con sede in Pula (CA), loc. Piscina Manna, Edificio 1, e-mail INFO@CRS4.IT PEC, CRS4@LEGALMAIL.IT (di seguito anche “CRS4”)

<h2>Responsabile della protezione dei dati o Data Protection Officer</h2>
Il responsabile della protezione dei dati (RPD o DPO) del CRS4 potrà essere contattato via email (dpo@crs4.it), o al numero +390709250457.

<h2>Tipi di dati trattati e finalità del trattamento</h2>
Il trattamento dei dati personali (indicati nella sezione “tipi di dati trattati e modalità del trattamento”) è finalizzato a consentire agli Utenti di fruire dei Servizi offerti attraverso l’applicazione Nice Time in Cagliari, che consistono nella possibilità di offerta, ricerca e condivisione di servizi (offerte ed eventi) da parte di promotori privati e istituzionali 
Gli utenti del servizio web possono essere essenzialmente di due tipi: promotori di offerte ed eventi (possono essere sia promotori privati che istituzionali) e turisti. 
I promotori, devono registrarsi al servizio per presentare il profilo della propria azienda, fornendo i seguenti dati:
<ul>
    <li>nome della azienda</li>
    <li>indirizzo di posta elettronica</li>
    <li>logo dell’azienda</li>
    <li>nome e cognome di un referente</li>
    <li>indirizzo dell’azienda</li>
    <li>numero di cellulare (che viene verificato dall’applicazione)</li>
    <li>descrizione dell’azienda</li>
    <li>sito web</li>
    <li>numero di partita IVA</li>
    <li>Segnalazione di eventi e offerte, corredando il tutto con locandina o immagine relativa all’evento, descrizione, data e ora, luogo.</li>
    <li>indirizzo di posta elettronica</li>
    <li>logo</li>
</ul>
I dati di contatto del promotore, la descrizione dell’azienda e le segnalazioni degli eventi e delle offerte, con le eventuali locandine e immagini, saranno diffusi sulle pagine del sito Nice time in Cagliari.<br />
Il turista crocierista non si registra e può usare l’applicazione per cercare eventi e offerte impostando diverse chiavi di ricerca, tra le quali il nome di una nave da crociera. In quest’ultimo caso, l’applicazione fornirà la lista di eventi ed offerte attivi nell’arco di ore di permanenza della nave in porto.<br />
Gli utenti possono inoltre impostare la lingua di preferenza per l’applicazione, ma questa è una informazione che non viene salvata dal sistema.<br />
Tutti i dati sopra elencati sono memorizzati nei server del CRS4, localizzati in Pula. Il sistema necessita di dati e informazioni di natura tecnica per consentire all’Utente di fruire dei servizi di cui sopra. In particolare, sono memorizzate le seguenti informazioni, necessarie alla prestazione del servizio all’utente:
<ul>
    <li>lingua prescelta dall’Utente;</li>
    <li>indirizzo IP;</li>
    <li>il tipo e la versione del browser;</li>
    <li>il tipo e la versione del Sistema Operativo</li>
</ul>
I dati degli Utenti potranno, altresì, essere utilizzati per l'adempimento degli obblighi di legge e di rispondere a specifiche richieste da parte dell’autorità amministrativa o giudiziaria. I dati, una volta che siano stati completamente anonimizzati, potranno essere diffusi per finalità di analisi statistiche, scientifiche o comunicati al fine di migliorare l’applicazione ed il servizio da essa fornito.

<h2>Modalità del trattamento</h2>
Il trattamento dei dati personali degli utenti dell’Applicazione avviene prevalentemente mediante strumenti informatici ma, talora, potranno formare oggetto di trattamento anche senza l’ausilio di strumenti informatici per il tempo strettamente necessario a conseguire gli scopi per cui sono stati raccolti.

<h2>Luogo del trattamento</h2>
I trattamenti hanno luogo mediante memorizzazione automatica sui server a Pula e che vengono gestiti dal personale del CRS4 presso la sede di Pula (e possono essere caricati, conservati ed elaborati anche su sistemi cloud i cui server sono localizzati nel territorio dell’Unione Europea). 

<h2>Base giuridica del trattamento</h2>
I dati personali trattati relativamente all’utilizzo dell’applicazione sono trattati dal CRS4 sulla base del consenso espresso dell’interessato, per le finalità suindicate, o in base all’interesse legittimo del CRS4 al corretto funzionamento dei sistemi informatici connessi alla funzionalità dell’applicazione. 

<h2>Facoltatività del conferimento</h2>
L’utente è libero di fornire i dati personali richiesti all’atto della registrazione al servizio, tuttavia, salvo il trattamento dei dati di navigazione, il mancato conferimento di alcuni dati, previsti come necessari per l’utilizzo dell’applicazione, comporta l’impossibilità della fruizione dei Servizi.

<h2>Destinatari o categorie dei destinatari dei dati personali</h2>
I destinatari dei suoi dati personali sono:
<ul>
<li>dipendenti e collaboratori del CRS4, espressamente designati e autorizzati a cui sono state fornite istruzioni specifiche. Gli autorizzati hanno livelli differenziati di accesso, a seconda delle specifiche mansioni;</li>
<li>gli altri promotori e turisti croceristi;</li>
</ul>
I dati raccolti, ad eccezione dei dati riguardanti i servizi offerti dai promotori e i loro dati di contatto, non verranno diffusi e non sono oggetto di trasferimento al di fuori dell’Unione Europea.

<h2>Gestione dei dati e periodo di conservazione</h2>
I dati verranno conservati per un periodo di tempo pari alla permanenza della registrazione dell’utente al servizio. Tali dati potrebbero comunque essere conservati per un periodo più lungo, al fine dell’accertamento di responsabilità in caso di reati.

<h2>Diritti dell’interessato</h2>
In qualità di soggetto interessato, secondo la vigente disciplina, potrà esercitare i seguenti diritti:
<ul>
    <li>chiedere l'<b>accesso ai Suoi dati personali</b> ed alle informazioni relative agli stessi, la <b>rettifica</b> dei dati inesatti o l'<b>integrazione</b> di quelli incompleti, la <b>cancellazione</b> dei dati personali che La riguardano (al verificarsi di una delle condizioni indicate nell'art. 17, paragrafo 1 del GDPR e nel rispetto delle eccezioni previste nel paragrafo 3 dello stesso articolo, ad esempio se i Suoi dati sono trattati illecitamente), la <b>limitazione</b> del trattamento dei Suoi dati personali (al ricorrere di una delle ipotesi indicate nell'art. 18, paragrafo 1 del GDPR, ad esempio i suoi dati sono trattati illecitamente);</li>
    <li><b>opporsi</b> in qualsiasi momento al trattamento dei Suoi dati personali al ricorrere di situazioni particolari che la riguardano;</li>
    <li>esercitare il <b>diritto alla portabilità dei dati</b>, vale a dire il diritto di ricevere in un formato strutturato, di uso comune e leggibile da dispositivo automatico i dati personali e di trasmettere tali dati ad altro titolare del trattamento, solo per i casi in cui il trattamento sia basato sul consenso e per i soli dati trattati tramite strumenti elettronici.</li>
</ul>
Tali richieste potranno essere indirizzate al Titolare oppure al Responsabile per la protezione dei dati (RDP/DPO) ai recapiti suindicati. Il modulo per l’esercizio dei diritti è disponibile <a href="http://cmc.crs4.it/ui/s3/docs/modulo.esercizio.diritti.docx">qui</a>.
Ha diritto altresì, qualora ritenga che il trattamento dei dati personali a lei riferiti, effettuato attraverso questo sito, avvenga in violazione di quanto previsto dal Regolamento europeo, di <b>proporre reclamo a un'autorità di controllo</b> (Autorità Garante per la protezione dei dati personali – <a href="http://www.garanteprivacy.it">www.garanteprivacy.it</a>), o di <b>adire le opportune sedi giudiziarie</b>.

<h2>Processo decisionale automatizzato, compresa la profilazione</h2>
I suoi dati personali non saranno soggetti ad alcun processo decisionale automatizzato, compresa la profilazione.

<h2>Informativa sul trattamento dei dati personali relativa ai cookie</h2>
La presente informativa è resa ai sensi dell’art.122 del d.lgs. 196/2003 e del Provvedimento del Garante per la protezione dei dati personali n.229/2014.

I dati personali degli utenti del Nice Time in Cagliari possono essere trattati anche attraverso i cookie.

<h3>Informazioni generali sui cookie</h3>
I cookie sono file di ridotte dimensioni inviati dal server web al browser dell’utente e memorizzati da quest’ultimo sul dispositivo/terminale dell’utente. Il server web, nei successivi accessi al sito, accede a questi file memorizzati nel dispositivo dell’utente per differenti finalità. A seconda delle finalità di impiego i cookie si possono essere suddivisi in due macro categorie:

<ul>
    <li>
        <b>Cookie Tecnici o Analitici</b>
        I cookie tecnici sono utilizzati per la trasmissione trasparente di informazioni su una rete di comunicazione elettronica. Si suddividono in:
        <ul>
            <li>cookie di navigazione o di sessione;</li> 
            <li>cookie analytics (che consentono di raccogliere informazioni, in forma aggregata, sul numero degli utenti e su come questi visitano il sito web);</li>
            <li>cookie di funzionalità (che permettono all’utente di usufruire di determinate funzionalità del sito come la lingua o le modalità di visualizzazione). </li>
        </ul>
        I cookie analitici sono assimilati a quelli tecnici quando sono realizzati e utilizzati direttamente dal sito per migliorarne la 
        fruibilità.<br />
        <u>Per l'uso di cookie tecnici è sufficiente il solo rilascio della presente informativa.</u>
    </li>
    <li>
        <b>Cookie di Profilazione</b>
        I cookie di profilazione sono finalizzati a creare profili utente e vengono utilizzati ad esempio per inviare messaggi pubblicitari in linea con le preferenze manifestate dallo stesso nell'ambito della propria navigazione. 
        In ragione della particolare invasività che tali dispositivi possono avere nell'ambito della sfera privata degli utenti, la normativa europea e italiana prevede che l'utente debba essere adeguatamente informato sull'uso degli 
        stessi per poter quindi esprimere il proprio valido consenso.
    </li>
</ul>
Recentemente sono stati introdotti due nuovi strumenti simili ai cookies per la memorizzazione di strutture dati lato client:

<ul>
    <li><b>LocalStorage</b>I dati salvati nel localStorage rimangono disponibli nel client oltre la singola sessione per un tempo indefinito. L'utente potrà comunque cancellarli in qualsiasi momento tramite le funzionalità del proprio browser.</li>
    <li><b>SessionStorage</b> I dati salvati nel sessionStorage rimangono disponibili nel client soltanto per la durata della sessione e vengono cancellati automaticamente alla chiusura della tab del browser.</li>
</ul>

<h3>Quali cookie usa questo sito?</h3>
Nice Time in Cagliari utilizza cookie tecnici, localStorage e sessionStorage per salvare le preferenze di visualizzazione dell'utente (come ad esempio la lingua dell'interfaccia) e per identificare l'utente durante le chiamate che richiedono l'autenticazione. Non sono presenti cookie di profilazione.

<h3>Come rimuovere i cookie</h3>
Ricordiamo che disattivando i cookie, accedendo ai nostri servizi online si dovranno sempre inserire nuovamente le informazioni richieste, perché il sistema non le avrà salvate.
Le modalità di cancellazione dei cookie dipendono dal browser utilizzato, si rimanda quindi al manuale utente di quelli più diffusi: <a href="https://privacy.microsoft.com/it-it/windows-10-microsoft-edge-and-privacy">Microsoft Edge</a> – <a href="https://support.google.com/chrome/answer/95647?hl=it&amp;p=cpn_cookies">Google Chrome</a> – <a href="https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie?redirectlocale=en-US&amp;redirectslug=Enabling+and+disabling+cookies">Mozilla Firefox</a> – <a href="https://support.apple.com/it-it/guide/safari/sfri11471/mac">Apple Safari</a>