<h1>CONDIZIONI GENERALI</h1>
<h3>Rev. 1 – ottobre 2018</h3>

<h2>Art. 1.	Oggetto</h2>
<h4>Art. 1.1.</h4>
Il CRS4 ha sviluppato e gestisce l’applicazione web Nice Time in Cagliari al fine di fornire specifici Servizi agli utenti che si registrino attraverso l’interfaccia utente, con browser, tramite device provvisto di connessione Internet. In particolare l’applicazione consente ai turisti di individuare eventi ed offerte nell’area di Cagliari. L’utente riconosce che il servizio è in fase beta, sperimentale, e pertanto il CRS4, come meglio specificato nell’art. 4, non fornisce alcuna garanzia fatta eccezione per le garanzie e responsabilità imposte dalle norme imperative e non derogabili secondo il diritto italiano, sul funzionamento e sulla continuità del servizio  

<h2>Art. 2.	Condizioni</h2>
<h4>Art. 2.1.</h4>
L'Utente riconosce che tutti i diritti di proprietà intellettuale e industriale sui Servizi, sull’Applicazione e sulle banche dati connesse (ivi compresi i diritti connessi e il diritto c.d. “sui generis”) sono nella titolarità piena ed esclusiva del CRS4 S.r.l.
<h4>Art. 2.2.</h4>
Salvo dove diversamente indicato, e salvo quanto riguarda i loghi delle aziende, i marchi e i loghi utilizzati nei Servizi e nell’Applicazione sono nella esclusiva titolarità del CRS4 S.r.l. L'Utente si impegna a non utilizzare in alcun modo i suddetti segni distintivi senza previa autorizzazione scritta da parte del CRS4 S.r.l. o dei relativi aventi diritto.

<h2>Art. 3.	Modifica delle condizioni</h2>
<h4>Art. 3.1.</h4>
Il CRS4 S.r.l. si riserva il diritto di adattare o modificare in qualsiasi momento le presenti condizioni generali. 

<h2>Art. 4.	Limitazione dei Servizi e della funzionalità dell’Applicazione</h2>
L’Utente accetta e riconosce che, fatta eccezione per le garanzie e responsabilità imposte dalle norme imperative e non derogabili secondo il diritto italiano, il CRS4 S.r.l. non è in alcun modo responsabile per qualsiasi danno derivante agli Utenti dall’utilizzo, dal malfunzionamento, dal ritardato o mancato utilizzo e/o dall’interruzione o sospensione dell’utilizzo dei Servizi o dell’Applicazione, dalla inesattezza delle informazioni riportate dalla applicazione quali – a titolo esemplificativo e non esaustivo – perdita di opportunità commerciali, mancati guadagni, danni derivanti da perdita, diffusione o comunicazione di dati e informazioni, informazioni non corrette su eventi ed offerte , danni all'immagine, richieste di risarcimento e/o pretese di terzi. 

<h2>Art. 5.	Nullità o inefficacia parziale e leggi applicabili</h2>
L’Utente accetta che qualora una parte del presente contratto venisse dichiarata totalmente o parzialmente nulla o inefficace, tale nullità o inefficacia riguarderà solo detta parte. 

<h2>Art. 6.	Legge applicabile e foro competente</h2>
<h4>Art. 6.1.</h4>
I servizi sono regolati dalla legge italiana. Per qualunque controversia sarà competente il foro di Cagliari
